@using Microsoft.AspNetCore.Identity
@using DOTNET_Control.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div>
    @if (SignInManager.IsSignedIn(User))
    {
        <form asp-area="Identity" asp-page="/Account/Logout" method="post" id="logoutForm" class="navbar-right">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <span class="navbar-text text-dark">Hello, @UserManager.GetUserName(User)!</span>
                </li>
                <li class="nav-item">
                    <button type="submit" class="btn btn-link nav-link text-dark">Logout</button>
                </li>
            </ul>
        </form>
    }
    else
    {
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
        </ul>
    }
</div>
